body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background:#eef0f5;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), 
   url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) 
   format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, 
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, 
    U+2215, U+FEFF, U+FFFD;
  font-family: 'Baloo Chettan 2', cursive;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.AppDark {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:220px;
  padding: 20px;
  border-radius: 10px;
  background: #1b3a4c;
  box-shadow: -20px 20px 60px #173141,
              20px 20px 60px #1f4357;
}

.AppLight {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:220px;
  padding: 20px;
  border-radius: 10px;
  background: #eef0f5;
  box-shadow: -20px 20px 60px #dddfe4,
              20px 20px 60px #ffffff;
}

.liDark{
  padding: 15px;
  color:silver;
}
.liDark:nth-of-type(odd){
  color:rgb(233, 231, 231);
}

.liLight{
  padding: 15px;
}
.liLight:nth-of-type(odd){
  color:rgb(74, 73, 73);
}

.searchField{
  display:flex;
  justify-content: center;
  margin-top: 30px;
}

.serchResult{
  margin:30px;
  padding: 40px;
  border-radius: 10px;
  background: #1b3a4c;
  box-shadow: inset -9px 9px 18px #173141, 
            inset 9px -9px 18px #1f4357;
}
.serchResultLight{
  margin:30px;
  padding: 40px;
  border-radius: 10px;
  background: #eef0f5;
  box-shadow: inset -9px 9px 18px #dddfe4, 
            inset 9px -9px 18px #ffffff;
}

.inputWrap{
  margin-right: 10px;
}
.inputWrap:nth-child(1){
  background: #1b3a4c;
  border-radius: 4px;
  box-shadow: inset -9px 9px 10px #173141, 
            inset 9px -9px 10px #1f4357;
}
.inputWrapLight{
  margin-right: 10px;
}
.inputWrapLight:nth-child(1){
  background: #f6f6f6;
  border-radius: 4px;
}